@font-face {
    src: url('./assets/fonts/Dank\ Mono\ Regular.otf');
    font-family: 'Dank Mono', sans-serif;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Dank Mono', sans-serif;
}

a {
    text-decoration: none;
}

.App {
    width: 100%;
    min-height: 100vh;
    color: #efd9fc;
    background-color: #18141d;
    display: flex;
    flex-direction: column;
    align-items: center;
}